<br>
<div style="text-align:center">
  <input [disabled]="!enablePrevButton" type="button" value="Prev" 
    (click)="onPrevPageClick()" class="btn btn-default btn-lg">&nbsp;
  <input [disabled]="!enableNextButton" type="button" value="Next" 
    (click)="onNextPageClick()" class="btn btn-default btn-lg">
</div>
<br>
<div class=container>
    <hr>
  <mat-grid-list cols="5" rowHeight="1:2" rowHeight="320px">
      <mat-grid-tile *ngFor="let movie of moviesList; let ind = index">
        <button (click)="openMovieDetails(ind)">
          <figure class="wp-caption">
            <img class="poster" src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}" alt="{{movie.title}}" />
            <figcaption class="wp-caption-text">{{movie.title}}</figcaption>
          </figure>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
    <hr>
</div>
<br>
<div style="text-align:center">
  <input [disabled]="!enablePrevButton" type="button" value="Prev" 
    (click)="onPrevPageClick()" class="btn btn-default btn-lg">&nbsp;
  <input [disabled]="!enableNextButton" type="button" value="Next" 
    (click)="onNextPageClick()" class="btn btn-default btn-lg">
</div>
<br>
<br>
<div style="text-align:center">
  <img src="../assets/tmdb.png" alt="The Movie DB">
</div>
<br>
