.wp-caption {
position: relative;
padding: 0;
margin: 0;
}

.wp-caption img {
display: block;
max-width: 100%;
height: auto;
}

.wp-caption-text {
opacity: 0;
position: absolute;
width: 100%;
color: #fff;
left: 0;
bottom: 0;
padding: 0.75em 1em;
font-weight: 700;
background-color: rgba(0,0,0,.7);
-webkit-transition: opacity .3s ease-in-out;
transition: opacity .3s ease-in-out;
text-align: center;
}

.wp-caption:hover img {
    opacity: 0.4;
}

.wp-caption:hover .wp-caption-text {
    opacity: 1;
}