h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}

h4 {
    text-align: center;
}

#poster,#backdrop{
    max-width: 100%;
    height: 400px;
    align-self: center;
}

#rec {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

#txt {
    text-align: left;
    font-size: 20px;
}