<div class="jumbotron">
  <h1 mat-dialog-title>{{title}}</h1>
  <h4 mat-dialog-title *ngIf="showOriginalTitle">( {{originalTitle}} )</h4>
</div>
<div mat-dialog-content>
  <div style="text-align: center;">
    <img id="poster" src="https://image.tmdb.org/t/p/original/{{posterPath}}">
    <img id="backdrop" src="https://image.tmdb.org/t/p/original/{{backdropPath}}">
      <div id="txt" class="container">
        <h2>Popularity: {{popularity}}</h2>
        <p>{{overview}}</p>
          <hr>
        <h3>Also Recommended:</h3>         
        <mat-grid-list cols="5" rowHeight="1:2" rowHeight="230px">
          <mat-grid-tile *ngFor="let movie of recommendedMovies">
            <img id="rec" src="https://image.tmdb.org/t/p/original/{{movie.poster_path}}"
              title="{{movie.title}}" alt="{{movie.title}}"/>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
  </div>
</div>
